@{
    ViewData["Title"] = "Home Page";
    var mlNetVersion = ViewData["MLNetVersion"] as string;
}

<br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://ainetprofit.com/" target="_blank">Using AI to Make REAL Money!</a>.</p>

    <p class="mt-4">
        ✅ ML.NET is installed. Version: <strong>@mlNetVersion</strong>
    </p>
</div>
